
.DS_Store

src/*.aux
src/*.bbl
src/*.blg
src/*.log
src/*.out
src/*.toc
src/*.fls
src/*.fdb_latexmk
src/*.synctex.gz
src/*.pdf
src/*.dvi
src/*.nav
src/*.snm
src/*.vrb
src/*.bcf
src/*.run.xml
src/*.acn
src/*.acr
src/*.alg
src/*.glg
src/*.glo
src/*.gls
src/*.ist
src/*.lof
src/*.lot
src/*.maf
src/*.mtc
src/*.mtc0
src/*.slg
src/*.slo
src/*.sls
src/*.xdy
